<article class="flex place-content-between items-center px-12 py-4 blur-2">
    <div class="h-fit">
        <h1 class="font-nighty text-black text-4xl">To do list</h1>
    </div>

    <section class="flex gap-1 px-3 py-3 rounded-4xl bg-white/65 shadow-xs blur-4">
        <button 
            class="px-3 py-1 font-semibold rounded-2xl hover:bg-accent/80 focus:bg-accent/80 ease-linear duration-50"
            (click)="goHome()"
        >
            home
        </button>

        <button 
            class="px-3 py-1 font-semibold rounded-2xl hover:bg-accent/80 focus:bg-accent/80 ease-linear duration-50"
            (click)="goTask()"
        >
            new task
        </button>
    </section>
</article>