@import "tailwindcss";
@plugin "daisyui";

/* PLACEHOLDER GLOBAL POUR DAISYUI INPUTS */
.input::placeholder,
textarea::placeholder {
  color: #9ca3af;       /* Couleur claire que tu veux */
  opacity: 0.5;         /* Opacité réduite */
}
